.line {
  width: 100%;
  height: 1px;
  background-color: rgb(201, 199, 199);
}
.mediawrapper {
  padding: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  height: 16rem;
  overflow-y: scroll;
}
.mediaSpan {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 1280px) {
  .mediaImg {
    width: 5rem !important;
  }
  .mediawrapper {
    height: 19rem;
  }
}
@media screen and (max-width: 1024px) {
  .mediaImg {
    width: 4rem !important;
  }
  .mediawrapper {
    height: 9rem;
  }
}
@media screen and (max-width: 990px) {
  .mediaMain {
    display: flex;
    justify-content: center;
  }
  .mediawrapper {
    width: 19rem;
  }
  .mediaSpan {
    justify-content: center !important;
    gap: 6rem;
  }
}
@media screen and (max-width: 300px) {
  .sendCard {
    font-size: 0.8rem;
    text-align: center;
  }
  .sendCard button {
    width: 75% !important;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  /* background-color: #888; */
  background: var(--btn-primary) !important;
  /* border-radius: 5px; */
}
@supports (-ms-overflow-style: none) {
  /* IE10+ */
  *::-ms-scrollbar {
    width: 5px;
  }

  *::-ms-scrollbar-thumb {
    background-color: #888;
    /* border-radius: 5px; */
  }
}
