.DiscussionRightWrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.DiscussionRightWrapper h1 {
  font-weight: 700;
}
.DiscussionRightWrapperDiv {
  padding: 2rem 0rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.DiscussionRightWrapperDiv p {
  margin: 0;
  color: #47464a;
}
.discussionProfile {
  background-image: url("../../../assets/Discussion/Post Photos.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 46rem !important;
  height: 10rem;
  position: relative;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}
.overlay {
  background-color: rgb(20 20 20 / 70%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.DiscussionRightprofile {
  position: relative;
  top: 5rem;
  padding: 0rem 1rem;
  z-index: 100;
}
.DiscussionRightprofile button {
  border-radius: 10px !important;
  padding: 1rem 2rem;
  background: transparent;
  border: 1px solid white;
  margin-bottom: 2rem;
}

.DiscussionRightBottom {
  padding: 0rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.DiscussionRightBTN {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.DiscussionRightBTN button {
  width: 13rem;
  height: 5rem;
  border-radius: 66px !important;
  background-color: #f3f6fb;
  color: #626973;
}
.DiscussionRightBTN button:focus {
  background-color: #007fff;
  color: white;
}
.jobType {
  padding-right: 2rem;
  padding-top: 0.5rem;
  gap: 3rem;
}
.jobType span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.jobType span p:nth-child(1) {
  color: #6b6b6b;
}
.jobType span p:nth-child(2) {
  font-weight: 700;
  color: #007fff;
}

/* {***************** card ************} */
.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  background-color: var(--bg-secondary-color);
  border-radius: 10px;
  width: 24rem !important;
  /* height: 29rem !important; */
  padding: 1.5rem;
  gap: 1rem;
}
.applicantWrapper {
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 86vh;
  overflow: scroll;
  padding-bottom: 4rem;
  padding-top: 2rem;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgRow img {
  border-radius: 50%;
  width: 6.5rem !important;
}
.professionRow {
  width: 20rem !important;
}
.profession {
  text-align: center;
}
.profession,
.achievement {
  padding: 0.5rem;
  background-color: #cfcfcf4a;
  border-radius: 10px;
}
.achievement {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto !important;
}
.achievement p {
  width: auto !important;
  margin: 0;
}
.achievement p:nth-child(1) {
  color: #a098ae;
}
.achievement p:nth-child(2) {
  font-weight: 800;
}
.instructorAssign button {
  background-color: #007fff;
  border: none;
  border-radius: 10px !important;
  padding: 0.5rem 1rem;
  color: white;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .DiscussionRightprofile {
    top: 6rem !important;
  }
  .DiscussionRightprofile img {
    width: 6rem !important;
  }
  .DiscussionRightprofile h3 {
    font-size: 1.2rem;
  }
  .DiscussionRightprofile button {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 361px) {
  .main {
    width: 17rem !important;
    /* height: 22rem !important; */
  }
  .imgRow img {
    width: 5.5rem !important;
  }
  .professionRow {
    margin: 0 !important;
    width: 12rem !important;
  }
  .profession {
    font-size: 0.7rem;
    padding: 1rem 0rem !important;
  }
  .achievementRow {
    margin: 0.5rem 0rem !important;
  }
  .achievement {
    width: auto !important;
  }
  .achievement p {
    width: auto;
    font-size: 0.6rem !important;
  }
  .instructorAssign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem !important;
    /* width: 7rem !important; */
  }
  .instructorAssign {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .instructorAssign button {
    margin: 0 !important;
    width: 11rem;
    font-size: 0.7rem;
    height: 2.2rem;
  }
}

/* {***************** card ************} */

@media screen and (max-width: 1280px) {
  .discussionProfile {
    width: 35rem !important;
  }
  .DiscussionRightBTN button {
    width: 11rem !important;
    height: 4rem !important;
  }
  .DiscussionRightBottom {
    padding: 0rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .discussionProfile {
    width: 29rem !important;
  }
  .jobType {
    font-size: 0.8rem;
    gap: 1.5rem;
    padding-right: 0rem;
  }
  .DiscussionRightBTN button {
    width: 11rem !important;
    height: 4rem !important;
  }
}
@media screen and (max-width: 420px) {
  .discussionProfile {
    width: 26rem !important;
    height: 10rem !important;
  }
  .DiscussionRightprofile {
    top: 6rem !important;
  }
  .DiscussionRightprofile img {
    width: 5rem !important;
  }
  .DiscussionRightprofile button {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem !important;
  }
  .jobType {
    font-size: 0.7rem !important;
    gap: 1.5rem !important;
  }
}
@media screen and (max-width: 300px) {
  .discussionProfile {
    width: 20rem !important;
  }
  .DiscussionRightprofile {
    top: 7rem !important;
  }
  .DiscussionRightprofile img {
    width: 4rem !important;
  }
  .discussionProfile h3 {
    font-size: 0.9rem !important;
  }
  .DiscussionRightprofile button {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem !important;
  }
}
