.interestcardMidWrapper {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 9rem;
  width: 100% !important;
}
@media screen and (max-width: 1280px) {
  .interestcardMidWrapper {
    /* padding-right: 7rem !important; */
    padding-bottom: 9rem !important;
  }
  .interestcardwrapper {
    height: 100vh !important;
  }
}
@media screen and (max-width: 1024px) {
  .interestcardMidWrapper {
    padding-right: 0rem !important;
  }
}
